.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 8px;
  height: 350px;
  margin: 200px auto 0;
  width: 300px;

.cadastro {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 20px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}
}

input[type="password"], input[type="text"], input[type="number"], input[type="email"] {
  background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 6px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 17px 0 0 29px;
  padding-left: 65px;
  transition: box-shadow 0.3s;
  width: 240px;
}
input[type="password"]:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus {
  box-shadow: 0 0 4px 1px rgba(172, 161, 15, 0.3);
  outline: 0;
}

.shadow {
  background: rgb(255, 255, 255);
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px rgb(250, 246, 246);
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}



.App-logo {
  pointer-events: none;
  height: 100px;
  width: 210px;
  display: flex;
  border-radius: 10px;
  position: fixed;
  bottom: 580px;
  margin-left: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-cad {
  min-width: 150px;
  min-height: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #f4fd71;
background: linear-gradient(90deg, rgb(218, 204, 18) 0%, rgb(196, 199, 34) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(219, 216, 34, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin: 20px 23%;
  }

.btn-cad::before {
content: '';
  border-radius: 300px;
  min-width: 160px;
  min-height: 50px;
  border: 6px solid #dde029;
  box-shadow: 0 0 60px rgba(216, 213, 57, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn-cad:hover, .btn-cad:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btn-cad:hover::before, .btn-cad:focus::before {
  opacity: 1;
}


.btn-cad:hover::after, .btn-cad:focus::after {
  animation: none;
  display: none;
}

