.beers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .beer {
    width: 300px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 5px;
    justify-content: center;
    border-radius: 10px;
  }
  
  .beer img {
    max-height: 200px;
    border-radius: 10px;
    margin: 0px;
    position: relative;
  }
  
  .beer h3 {
    font-weight: 800;
    font-size: 20px;
    color:blanchedalmond;
    margin: 30px;
  }
  
  .beer span {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  .beer small {
    color: #888
  }  

  
    button {
      width:240px;
      height:35px;
      display:block;
      font-family:Arial, "Helvetica", sans-serif;
      font-size:16px;
      font-weight:bold;
      color:#fff;
      text-decoration:none;
      text-transform:uppercase;
      text-align:center;
      text-shadow:1px 1px 0px #c6d12c;
      padding-top:6px;
      margin: 10% 0 15px 29px;
      cursor: pointer;
      border: none;  
      background-color: #cdcf28;
      background-image: linear-gradient(top,#dbec79,rgba(165, 163, 41, 0.067));
      border-radius: 5px;
      box-shadow: inset 0px 1px 0px #b2c036, 0px 5px 0px 0px #b0c843, 0px 10px 5px #999;
      top:3px;
      
    }

    .price {
      color: whitesmoke;
      font-weight: bold;
    }

    .descrip {
      color: white;
    }