.categorias { 
    text-align: center;
    font: 25px Arial, Helvetica, sans-serif; 
    color:white; 
    border-top: 5px dotted #FFCC00; 
    border-bottom: 15px solid #FFCC00; 
    padding-left:5px; 
    margin-top: 10px;
    }

.logobeer {
    height: 70px;
    border-radius: 10px;
}

.carrinho {
    border-radius: 80px;
    height: 80px;
    position: absolute;
    margin: 0 0 50px 75%;    
}

.header {
    position: relative;
}

.car {
    background-image: url("https://i.pinimg.com/474x/2a/62/3b/2a623b43e5e2550655d5c87e924a893d.jpg");
    background-size: 80px;
    height: 80px;  
    width: 80px;  
    position: absolute;
    margin: 0 0 50px 75%; 
    border-radius: 80px;
    cursor: pointer;
}